@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

#translatePopupContainer {
    border: 5px solid rgb(118, 218, 196);
    margin: 0;
    padding: 6px;
    background-image: linear-gradient(to bottom right, rgb(229 252 255), rgb(118, 218, 196));
}

#translateInputSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#translateOutputSection {
    padding: 5px;
    font-size: 10px;
}

#textToTranslate {
    font-size: 14px;
    padding: 2px;
}

#translateBtn {
    font-size: 14px;
    padding: 2px;
    margin-left: 2px;
}

#translationInput {
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    color: #1d2c33; /* Change the text color to a lighter black/grey */
}

#translationResult {
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    color: #1d2c33; /* Change the text color to a lighter black/grey */
}

#languageTarget {
    text-align: right;
    padding-right: 5px;
}

#languageTargetText {
    width: 110px;
    cursor: pointer;
    user-select: text;
    text-decoration: underline;
}

#resetLanguageTarget {
    width: 16px;
    padding: 0;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}